body {
    background: #0a0a0a;
    color: #fafafa;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 7vw;
}

.logo {
    display: block;
    max-width: 80vw;
}

div {
    padding-left: 8vw;
    padding-right: 8vw;
}

.headline {
    padding: 8vw 8vw 0;
}

.headline h1 {
    margin: 10vw 0;
}

p {
    font-size: 5vw;
}

span {
    color: #FBEE55;
}