body {
    background: #0a0a0a;
    color: #fafafa;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 7vw;
}

.logo {
    display: block;
    width: 100%;
    max-width: 600px;
}

svg {
    width: 100%;
    height: 100%;
}

div {
    padding-left: 8vw;
    padding-right: 8vw;
}

.headline {
    padding: 5vw 8vw 0;
}

.headline h1 {
    margin: 5vw 0;
}

p {
    font-size: 5vw;
}

span {
    color: #FBEE55;
}

.hours {
    margin-bottom: 8vw;
}