body {
  background: #0a0a0a;
  color: #fafafa;
  font-family: "Merriweather", serif;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 0.2rem;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

a {
  color: white;
  font-size: 16px;
}

@media (min-width: 900px) {
  h1 {
    font-size: 32px;
  }
  h2.big {
    font-size: 96px;
    line-height: 1;
  }
  h2.big + p {
    font-size: 24px;
    line-height: 29px;
  }
  h3 {
    font-size: 24px;
  }
}

p {
  line-height: 1.5;
}

p + p {
  padding-top: 1.5rem;
}

img {
  display: block;
  object-fit: contain;
  max-width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

section {
  padding: 8vw 8vw 0;
}

hr {
  margin: 4vw auto 0;
  max-width: 84vw;
}

.logo {
  display: block;
  height: auto;
  max-width: 70vw;
  pointer-events: none;
  width: 400px;
}

.cta {
  background: yellow;
  border-radius: 80px;
  color: #0a0a0a;
  display: inline-block;
  font-size: 18px;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .logo {
    max-width: 500px;
  }
}

.headline {
  padding: 0 8vw;
}

.headline h1 {
  margin: 64px 0;
}

.bg-yellow {
  background: #fbee55;
}

.bg-white {
  background: white;
}

.yellow {
  color: #fbee55;
}

.black {
  color: black;
}

.green {
  color: #3cebac;
}

.grey {
  color: #9d9d9d;
}

.bg-grey {
  background-color: lightgray;
}

.text-dark {
  color: black;
}

.blue {
  color: #5583fa;
}

span.sub-head {
  font-size: 20px;
}

figure.card {
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  figure.card {
    max-width: 180px;
  }
  figure.card.card-event {
    max-width: 100%;
  }
}

figure.card.card-event {
  background: #1b1b1b;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr auto;
  padding: 12px;
  width: inherit;
}

figure.card.card-is-link:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 200ms ease-in-out;
}

figure.card img {
  border-radius: 8px;
}

figure.card.card-event img {
  grid-area: 1 / 1 / 3 / 2;
  grid-area: 1 / 1 / 3 / 3;
  align-self: center;
}

figure.card figcaption {
  grid-area: 1 / 2 / 3 / 3;
  grid-area: 3 / 1 / 3 / 3;
}

figure.card .event-description {
  grid-area: 4 / 1 / 4 / 3;
  padding-top: 16px;
}

figure.card a.card-is-link {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

figure.card figcaption {
  align-self: center;
}

figure.card figcaption strong {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 12px;
}

figure.card figcaption .artist-description {
  padding-top: 6px;
}

figure.card figcaption .external-links {
  padding-top: 6px;
}

figure.card figcaption .external-links a {
  display: block;
  font-size: 12px;
}

figure.card p {
  font-size: 13px;
  line-height: 19px;
}

.date-time {
  font-size: 14px;
  padding-bottom: 6px;
}

.date-time {
  align-items: center;
  display: flex;
  font-size: 16px;
  padding-top: 6px;
}

.date-time .symbol {
  display: block;
  margin: 0 6px;
}

figure.card p.price {
  font-size: 28px;
  padding: 6px 0 0;
}

.flex-header h1 {
  display: block;
  margin: 8vw auto;
  padding: 0 8vw;
}

.card-container {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 36px;
  }
  .card-container.card-container-events {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  .card-container.card-container-events .card {
    margin-bottom: 0;
  }
}

.card-container .card {
  margin-bottom: 36px;
}

@media (min-width: 900px) {
  .flex-header {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .flex-header h1 {
    margin: 8vw auto 0;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 12px;
    row-gap: 48px;
  }
  .card-container .card {
    margin-bottom: 0;
  }
}

main.event {
  display: flex;
  flex-direction: column;
}

main.event header {
  order: 0;
  padding: 2rem;
}

main.event h1 {
  font-size: 24px;
}

main.event img {
  order: 1;
}

main.event .event-details {
  order: 2;
  padding: 2rem 2rem 0;
}

main.event header .cta {
  margin-top: 1rem;
}

@media (min-width: 900px) {
  main.event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin: 60px auto 0;
  }
  main.event img {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.event header {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.event .event-details {
    grid-area: 2 / 1 / 3 / 3;
    padding: 2rem;
  }
}

section.homepage-hero {
  padding: 0;
}

section.homepage-hero h1 {
  font-size: 24px;
}

section.homepage-hero h2 {
  font-size: 20px;
}

section.homepage-hero h1,
section.homepage-hero h2 {
  padding: 8vw 8vw 0;
}

section.homepage-hero .accent-graphic {
  margin: 36px auto 0;
  max-width: 200px;
}

section.homepage-hero .hero-image {
  margin: 36px auto 0;
}

section.homepage-hero .hero-image-2 {
  max-width: 500px;
  width: 100%;
}

@media (min-width: 900px) {
  section.homepage-hero h1,
  section.homepage-hero h2,
  section.homepage-hero .hero-image,
  section.homepage-hero .accent-graphic {
    max-width: inherit;
    padding: 0;
  }
  .homepage-hero-section-1,
  .homepage-hero-section-2 {
    position: relative;
  }
  .homepage-hero-section-1 {
    display: flex;
    margin: 60px auto 0;
    max-width: 800px;
    z-index: 1;
  }
  .homepage-hero-text-and-graphic-1 {
    order: 2;
  }
  .homepage-hero-text-and-graphic-1 h1 {
    margin-left: 36px;
  }
  section.homepage-hero .accent-graphic.accent-graphic-1 {
    margin-top: 48px;
    max-width: 400px;
    z-index: 0;
  }
  .hero-image-1 {
    margin-top: 0;
    max-width: 443px;
    order: 1;
    width: 100%;
    z-index: 1;
  }
  .homepage-hero-section-2 {
    display: flex;
    margin: -80px auto 0;
    max-width: 1000px;
    z-index: 2;
  }
  section.homepage-hero .accent-graphic-2 {
    height: 225px;
    margin: -25px auto 0;
    max-width: 300px;
    order: 1;
  }
  section.homepage-hero .hero-image-2 {
    height: 275px;
    margin: -60px 0px 0 80px;
    max-width: 275px;
    order: 2;
  }
  section.homepage-hero h2 {
    margin-top: 48px;
    padding-left: 36px;
    padding-right: 24px;
    order: 3;
  }
}

section.hours p + p {
  padding-top: 0.5rem;
}

@media (min-width: 900px) {
  section.hours {
    display: flex;
    justify-content: center;
    margin: 64px 0px 0 110px;
    padding: 0;
  }
  section.hours h2,
  section.hours p {
    font-size: 36px;
    line-height: 43px;
  }
  section.hours p:last-of-type {
    font-size: 24px;
    line-height: 1;
    padding-top: 2rem;
  }
  section.hours .hours-by-day {
    border-left: 1px solid gray;
    margin-left: 36px;
    padding-left: 36px;
  }
}

@media (min-width: 768px) {
  .section-header {
    display: flex;
    align-items: center;
  }
  .section-header p {
    margin-left: 24px;
    margin-top: 10px;
    max-width: 370px;
  }
}

footer {
  margin: 8vw 0;
}

footer section.about,
footer section.location {
  padding: 8vw;
}

footer section.about h1 {
  font-size: 96px;
}

footer section.about h2 {
  font-size: 24px;
  font-weight: bold;
}

footer section.about p {
  font-size: 24px;
}

footer section.about .about-accent-graphic-1 {
  margin: 24px auto;
  max-width: 100px;
}

@media (min-width: 768px) {
  footer section.about .about-accent-graphic-1 {
    margin: 24px 0;
  }
}

footer section.about .about-hero-asset-1 {
  margin-top: 24px;
}

footer section.location a {
}

footer section.location .pep-logo {
  margin: 24px auto 12px;
  max-width: 150px;
}
@media (min-width: 768px) {
  footer section.location .pep-logo {
    margin: 24px 0 12px;
  }
}
@media (min-width: 900px) {
  section {
    margin-top: 64px;
    padding: 0 8vw 0;
  }
  footer {
    margin: 4vw 0 0;
  }
  footer section {
    padding: 8vw;
    margin-top: 0;
  }
}
