body {
    background: #0a0a0a;
    color: #fafafa;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

h1 {
    font-size: 36px;
    font-weight: 300;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p+p {
    padding-top: 1.5rem;
}

.hours h2 {
    padding-bottom: 12px;
    border-bottom: solid #fafafa 1px;
}

img {
    width: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

section {
    padding-left: 8vw;
    padding-right: 8vw;
    margin-bottom: 8vw;
}

section:last-child {
    margin-bottom: 100px;
}

.logo {
    display: block;
    width: 100%;
    max-width: 70vw;
}

@media (min-width: 768px) {
    .logo {
        max-width: 500px;
    }
}

.headline {
    padding: 0 8vw;
}

.headline h1 {
    margin: 64px 0;
}

.hours p {
    font-size: 24px;
}

.yellow {
    color: #FBEE55
}

.blue {
    color: #507BEA;
}

span.sub-head {
    font-size: 20px;
}

.hours {
    margin-bottom: 8vw;
}

figure.card {
    background: #1b1b1b;
    border: rgba(255, 255, 255, .2) 1px solid;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr auto;
    grid-column-gap: calc(16px + 1vw);
    grid-row-gap: 12px;
    padding: 12px;
    position: relative;
    transition: 300ms;
}

figure.card:hover {
    border-color: rgba(255, 255, 255, .6);
}

figure.card img {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    border-radius: 8px;
}

figure.card figcaption {
    grid-area: 1 / 2 / 3 / 3;
}

figure.card .event-description {
    grid-area: 3 / 1 / 4 / 3;
}

figure.card a {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

figure.card figcaption {
    align-self: center;
}

figure.card figcaption strong {
    display: block;
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
}

figure.card p {
    font-size: 20px;
    line-height: 26px;
}

.date-time {
    padding: 6px 0;
}

.date-time span {
    display: block;
    font-size: 14px;
}

.date-time .symbol {
    display: none;
}

@media (min-width: 900px) {
    .date-time {
        align-items: center;
        display: flex;
    }
    .date-time .symbol {
        display: block;
        margin: 0 6px;
    }
}

.price {
    font-size: 30px;
}

header {
    margin-bottom: 1rem;
}

.flex-header h1 {
    display: block;
    margin: 8vw auto;
    padding: 0 8vw;
}

.card-container .card {
    margin-bottom: 8vw;
}

@media (min-width: 900px) {
    .flex-header {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
    }
    .flex-header h1 {
        margin: 8vw auto 0;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2vw;
        row-gap: 2vw;
    }
    .card-container .card {
        margin-bottom: 0;
    }
}